---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const posts = await getCollection("blog");

const dmjPosts = posts.filter((post: any) => post.id.includes("daily"));
const jourPosts = posts.filter((post: any) => post.id.includes("reflections"));
const pageTitle = "Journals";

const visible = true;
---
<Layout pageTitle={pageTitle} visible={visible}>
    <p>
        This is where I'll post my daily mood journals that I write. I'm going to use this site to simultaneously practice my Astro coding while working on my mental health. Or something.
    </p>
    <h2>
        Daily Mood Journals
    </h2>
    <p>
        {dmjPosts.map((post) => <BlogPost title={post.data.title} url={post.id} /><br />)}
    </p>
    <h2>
        Journal
    </h2>
    <p>
        {jourPosts.map((post) => <BlogPost title={post.data.title} url={post.id} /><br />)}
    </p>
</Layout>
