---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const dmjPosts = Object.values(import.meta.glob('./posts/daily-mood-journals/*.md', { eager: true}));
const jourPosts = Object.values(import.meta.glob('./posts/journals/*.md', {eager: true}));
const pageTitle = "Journals";
---

<Layout pageTitle={pageTitle}>
    <p>
        This is where I'll post my daily mood journals that I write. I'm going to use this site to simultaneously practice my Astro coding while working on my mental health. Or something.
    </p>
    <h2>
        Daily Mood Journals
    </h2>
    <p>
        {dmjPosts.map((post: any) => <BlogPost title={post.frontmatter.title} url={post.url} /><br />)}
    </p>
    <h2>
        Journal
    </h2>
    <p>
        {jourPosts.map((post: any) => <BlogPost title={post.frontmatter.title} url={post.url} /><br />)}
    </p>
</Layout>