---
const homeTitle = "Home";
const aboutTitle = "About Me";
const blogTitle = "Journals";
const tagTitle = "Tag Index";

const {visible} = Astro.props;
---

<div class="nav-links tags">
    <a class = "tag" href="/">
        {homeTitle}
    </a>
      
    <a class = "tag" href="/about/">
        {aboutTitle}
    </a>
     
    <a class = "tag" href="/blog/">
        {blogTitle}
    </a>

    {visible && <a id="tag_tab" class = "tag" href="/tags/">
        {tagTitle}
    </a>}
     
</div>